* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Josefin Sans", sans-serif;
	background-color: black;
	font-size: 3vh;
	color: whitesmoke;
}

nav {
	margin-top: 10px;
	font-size: 2vh;
}
nav div a {
	line-height: 4vh;
	color: whitesmoke;
	text-transform: lowercase;
	display: inline-block;
	margin: 1px 4vw;
	text-decoration: none;
	padding: 5px 10px;
}

.nav-item-name {
	padding: 1vh 4vw 1vh 4vw;
	border-radius: 50vw;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	text-transform: none;
}

.nav-div-name {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.nav-right {
	text-align: center;
}

div.hi-there p {
	font-family: "Caveat", cursive;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh;
}

div.name p {
	color: whitesmoke;
	font-family: "Salsa", cursive;
	font-size: 8vh;
	text-align: center;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vh;
}

.main-and {
	font-family: "Caveat", cursive;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0vh;
}

@media (min-width: 1200px) {
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		font-family: "Josefin Sans", sans-serif;
		background-color: black;
		font-size: 36px;
		color: whitesmoke;
	}

	nav {
		margin-top: 10px;
		font-size: 2vw;
		display: flex;
	}

	nav div a {
		line-height: 4vh;
		color: whitesmoke;
		text-transform: lowercase;
		display: inline-block;
		margin: 1px 1vw;
		text-decoration: none;
		padding: 5px 10px;
	}

	.nav-item-name {
		padding: 10px 15px 5px 15px;
		border-radius: 50px;
		border-style: solid;
		text-transform: none;
	}

	.nav-div-name {
		max-width: fit-content;
		margin-left: 0;
		margin-right: 0;
	}

	.nav-right {
		position: absolute;
		right: 0px;
	}

	div.hi-there p {
		font-family: "Caveat", cursive;
		max-width: fit-content;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30vh;
	}

	div.name p {
		color: whitesmoke;
		font-family: "Salsa", cursive;
		font-size: 10vh;

		max-width: fit-content;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0vh;
	}

	.main-and {
		font-family: "Caveat", cursive;
		max-width: fit-content;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0vh;
	}
}
